/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include "charybdis.dtsi"

&matrix_transform0 {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

&spi0 {
    status = "okay";
    sck-pin = <8>;
    mosi-pin = <17>;
    miso-pin = <17>;
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
};

&trackball {
    status = "okay";
    
    // Параметры от MK2
    evt-type = <0x02>;  // INPUT_EV_REL
    x-input-code = <0x00>;  // INPUT_REL_X
    y-input-code = <0x01>;  // INPUT_REL_Y
};

&pmw_split {
    device = <&trackball>;
};
